body {
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.app {
  text-align: center;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
}

.done {
  background-color: #b9e8b9; /* Green background color for done tasks */
}

.research {
  background-color: #ffc97a; /* Orange background color for tasks that require research */
}

button {
  font-size: 16px;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
